*, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #99B4BF;
}
/* Color Theme */
.navyBlue {
    color: #2D4B73;
}

.darkNavyBlue {
    color: #253C59;
}

.gray {
    color: #99B4BF;
}

.yellow {
    color: #D9B70D;
}

.darkYellow {
    color: #BF8D30;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #253C59;
}

    .header .headerTitle {
        width: 85%;
        height: 100%;
        float: left;
    }

        .header .headerTitle h1 {
            color: #D9B70D;
            text-align: center;
            margin-top: 10px;
        }

    .header .headerUserControl {
        float: right;
        width: 15%;
        height: 100%;
    }

        .header .headerUserControl a {
            text-decoration: none;
            color: #D9B70D;
            display: block;
            width: 110px;
            height: 20px;
            font-size: larger;
            float: right;
            margin-top: 17px;
        }

.fix {
    width: 50%;
    height: 100px;
    margin-left: 28%;
}

    .fix i {
        color: #253C59;
        font-size: 100px;
    }

.sidebar {
    margin-top: 45px;
    margin-right: 20px;
    width: 15%;
    height: 450px;
    float: right;
    background-color: #2D4B73;
    opacity: 0.8;
    border-radius: 10% / 50%;
}

    .sidebar .sidebarTitle {
        width: 85%;
        height: 10%;
        margin-left: auto;
        margin-right: auto;
    }

        .sidebar .sidebarTitle h4 {
            color: #D9B70D;
            text-align: center;
            margin-top: 10px;
        }

.buttons {
    height: 60%;
    width: 80%;
    padding: 25px;
}

    .buttons a {
        color: #99B4BF;
        text-decoration: none;
        font-weight: 700;
        justify-content: center;
        display: grid;
        margin-top: 35px;
    }

        .buttons a:hover {
            color: #BF8D30;
        }

.list {
    display: flex;
    justify-content: center;
    border: none;
    padding: 5px;
    font-weight: 900;
    width: 83%;
    position: fixed;
    margin-top: 5%;
}

    .list th {
        padding: 7px;
    }

    .list td {
        padding: 7px;
    }

.listTable {
}

    .listTable tbody tr a {
        color: #2D4B73;
        text-decoration: none;
    }

        .listTable tbody tr a:hover {
            color: #D9B70D;
            text-decoration: underline;
        }
