*, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #99B4BF;
}
/* Color Theme */
.navyBlue {
    color: #2D4B73;
}

.darkNavyBlue {
    color: #253C59;
}

.gray {
    color: #99B4BF;
}

.yellow {
    color: #D9B70D;
}

.darkYellow {
    color: #BF8D30;
}
/* Header */
.header {
    width: 100%;
    height: 60px;
    background-color: #253C59;
}

    .header .headerTitle {
        width: 85%;
        height: 100%;
        float: left;
    }

        .header .headerTitle h1 {
            color: #D9B70D;
            text-align: center;
            margin-top: 10px;
        }

    .header .headerUserControl {
        float: right;
        width: 15%;
        height: 100%;
    }

        .header .headerUserControl a {
            text-decoration: none;
            color: #D9B70D;
            display: block;
            width: 110px;
            height: 20px;
            font-size: larger;
            float: right;
            margin-top: 17px;
        }

        .header .headerUserControl span {
            color: #D9B70D;
            margin-top: 20px;
            display: inline-block;
        }

.fix {
    width: 50%;
    height: 100px;
    margin-left: 28%;
}

    .fix i {
        color: #253C59;
        font-size: 100px;
    }
/* Sidebar */
.sidebar {
    margin-top: 45px;
    margin-right: 20px;
    width: 15%;
    height: 450px;
    float: right;
    background-color: #2D4B73;
    opacity: 0.8;
    border-radius: 10% / 50%;
}

    .sidebar .sidebarTitle {
        width: 85%;
        height: 10%;
        margin-left: auto;
        margin-right: auto;
    }

        .sidebar .sidebarTitle h4 {
            color: #D9B70D;
            text-align: center;
            margin-top: 10px;
        }

.buttons {
    height: 60%;
    width: 80%;
    padding: 25px;
}

    .buttons a {
        color: #99B4BF;
        text-decoration: none;
        font-weight: 700;
        justify-content: center;
        display: grid;
        margin-top: 35px;
    }

        .buttons a:hover {
            color: #BF8D30;
        }
/* Content */
.list {
    display: flex;
    justify-content: center;
    border: none;
    padding: 5px;
    font-weight: 900;
    width: 83%;
    position: fixed;
    margin-top: 5%;
}

    .list th {
        padding: 7px;
    }

    .list td {
        padding: 7px;
    }

.listTable {
}

    .listTable tbody tr a {
        color: #2D4B73;
        text-decoration: none;
    }

        .listTable tbody tr a:hover {
            color: #D9B70D;
            text-decoration: underline;
        }
/* Login Page */
.container {
    height: 800px;
    width: 100%;
}

    .container .loginPage {
        height: 100%;
        width: 70%;
        float: right;
    }

        .container .loginPage img {
            width: 100%;
            height: 100%;
        }

    .container .textTitle {
        width: 30%;
        padding-top: 50px;
    }

        .container .textTitle h2 {
            text-align: center;
            color: #253C59;
        }

    .container .loginBox {
        width: 25%;
        height: 40%;
        text-align: center;
        float: left;
        margin-left: 3%;
        margin-top: 60px;
        padding-top: 50px;
    }

        .container .loginBox .loginLogo {
            width: 25%;
            height: 30%;
        }

            .container .loginBox .loginLogo i {
                width: 100%;
                height: 20%;
                margin-left: 150%;
                font-size: 60pt;
            }

        .container .loginBox .inputBox {
            height: 30px;
            width: 95%;
            margin-top: 10px;
            padding: 5px;
            border-radius: 5px;
            opacity: 0.9;
        }

.loginButton {
    text-align: center;
    text-decoration: none;
    width: 40%;
    height: 15px;
    background-color: #2D4B73;
    color: #D9B70D;
    padding: 15px;
    display: inline-block;
    margin-top: 15px;
}

    .loginButton:hover {
        border: 2px solid #D9B70D;
    }
