*, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
}
/* Color Theme */
.navyBlue {
    background-color: #2D4B73;
}

.darkNavyBlue {
    background-color: #253C59;
}

.gray {
    background-color: #99B4BF;
}

.yellow {
    background-color: #D9B70D;
}

.darkYellow {
    background-color: #BF8D30;
}
/* Header */
.header {
    width: 100%;
    height: 50px;
}

.selection {
    height: 35px;
    width: 50%;
    float: right;
}

    .selection a {
    }

.registerBox {
    width: 25%;
}
